
/*样式重置*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }

/*公共的样式*/


.fr{float: right;}
.fl{float: left;}
.radiu{border-radius:6px;border: solid 1px #e6e2e7;}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.gradient {
	background:#f9f9f9;
	background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:linear-gradient(top, #FFFFFF, #f8f8f8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
}
.triangle_up, .triangle_down_red, .triangle_down_gray { position:absolute; width:0; height:0; overflow:hidden; border-left:4px solid transparent; border-right:4px solid transparent; }
.triangle_up { border-bottom:4px solid #ca0309; }
.triangle_down_red { border-top:4px solid #ca0309; }
.triangle_down_gray { border-top:4px solid #c4bdbd; }

.more{height: 34px;line-height: 34px;color: #010000;font-size:12px ;position: relative;}
.more em{font-size:9px;color: #e1261c;margin:0 4px ;}
.more span{display: inline-block;width:40px ;height: 14px;background: url(../img/index.img/more.gif) no-repeat;position: relative;top: 12px;}
.more a{display: inline-block;width:40px ;height: 14px;background: url(../img/index.img/more.gif) no-repeat;position: absolute;top: 12px;right:12px ;}

/*块状的布局*/
#header{width:960px ;height:30px ;margin:0 auto ;}
#nav{height: 100px;width:960px;margin:0 auto ;padding:10px 10px 0 10px ; position: relative;}
#search{height:98px;width:960px;margin:0 auto ;margin-bottom:10px ;padding-top:16px ;}
#content_box{height:100%;width:960px;margin:0 auto ;margin-bottom:10px ;}
#content{width:960px ;}
#content .ad img{border: none;}
#content .fl_mod{width:50% ;margin-bottom:10px;padding:0 15px ;}
#content .fr_mod{width:400px ;margin-bottom:10px;padding:0 15px ;}
#content .ad{width:960px;margin-bottom:10px;}

#footer{height: 78px;width:960px;border: 1px solid #e6e2e7;background:#f9f9f9 ;margin: 0 auto;border-radius: 6px;}


/*头部的布局*/
#header .fl{ color: #000000;font-size:12px ;line-height:30px;padding-left:30px ;}
#header .fl a{color:#98999b;display: inline-block;width:40px;height: 20px;line-height:20px;text-align:center;border:solid 1px #e6e2e7 ;border-radius: 3px;box-shadow:1px 1px #e6e2e7 ;background:white;}
#header .fl a:hover{background:#e6e2e7 ;}
#header .fl .active{color: #e1261c;}
#header .fl .active:hover{background:white;}
#header .fr{color: #666;font-size:12px ;line-height:30px;margin-right:20px }
#header .fr a{width:48px ;padding: 0 10px 0 27px;background:url(../img/index.img/header_link_bg.gif) no-repeat 8px 2px ;color: #63656a;} 
#header .fr a:hover{text-decoration: underline;}
#header .fr .join{}
#header .fr .manage{background-position: 8px -28px;}

/*导航的布局*/

#nav li{float: left;width:66px;}
#nav li a{text-align: center;padding-top:46px ;width:66px ;color:#373a36;background:url(../img/index.img/nav_bg.png) no-repeat ;display: block;height: 22px;line-height:22px ;}
#nav li a:hover{color: #e1261c;font-weight: bold;}
#nav  .nav1{background-position:0 0 ;}
#nav  .nav2{background-position:-66px 0 ;}
#nav  .nav3{background-position:-132px 0 ;}
#nav  .nav4{background-position:-198px 0 ;}
#nav  .nav5{background-position:-264px 0 ;}
#nav  .nav6{background-position:-330px 0 ;}
#nav  .nav7{background-position:-396px 0 ;}
#nav  .nav8{background-position:-462px 0 ;}
#nav  .nav9{background-position:-528px 0 ;}
#nav  .nav10{background-position:-594px 0 ;}

#nav  .nav1:hover{background-position:0 -70px ;}
#nav  .nav2:hover{background-position:-66px -70px ;}
#nav  .nav3:hover{background-position:-132px -70px ;}
#nav  .nav4:hover{background-position:-198px -70px ;}
#nav  .nav5:hover{background-position:-264px -70px ;}
#nav  .nav6:hover{background-position:-330px -70px ;}
#nav  .nav7:hover{background-position:-396px -70px ;}
#nav  .nav8:hover{background-position:-462px -70px ;}
#nav  .nav9:hover{background-position:-528px -70px ;}
#nav  .nav10:hover{background-position:-594px -70px ;}
#nav img{margin-left: 36px;position: absolute;left: 350px;top: 10px;}

/*搜索框的布局*/

#search .search_b{height:64px;background: #e21c01;border:solid 1px #e1261c;width:100% ;box-shadow:0 2px #d1d0ce;position: relative;}
#search .menu{position: absolute;left:226px ;top: -26px;width:415px;height:27px ;}
.menu li{width: 78px;height: 25px;line-height:25px;color:#000000;text-align:center ; border:solid 1px #f0c2b3;border-radius:6px 6px 0 0 ;border-bottom: none;float: left;font-size:14px ;}
#search .active{background:#e21c01;color:#fbfbfb;font-weight: bold;height: 26px;top: -1px;}
#search .note{width: 156px ;height: 116px;background:url("../img/index.img/search_img.png"); position: absolute;top: -20px;left:32px ;}
#search form{position: absolute;left: 226px;top: 19px;}
#search form input{float: left;}
#search .inp{width:384px ;border: none; border-radius:6px ;padding:0 10px ;height:22px ;line-height:22px;box-shadow:0 2px #ca8c83 inset;color: #ff828a;margin-right:10px ;} 
#search .btn {width:60px ;height: 24px;box-shadow:2px 3px #cb3725;border:none ;border-radius: 9px;background:url(../img/index.img/search_img.png) no-repeat ;background-position:-163px 0 ;}

#search .list{position: absolute;top: 14px;left: 720px;width:210px;}
#search .list li{float: left;color: #fbfbfb;line-height:18px;height:18px ;display: block;}
#search .list a:hover{text-decoration: underline;}

#search .ad{margin-left:226px ;width:348px ;height: 30px;padding-left: 60px;background:url(../img/index.img/search_img.png) no-repeat ;background-position:-226px 10px ;position: relative;overflow: hidden;}
#search .scroll{position: absolute;top: 0;left:60px;}
#search .ad li{height: 30px;line-height: 30px;}
#search .up{position: absolute;top: 8px;left: 398px;}
#search .down{position: absolute;bottom: 8px;left: 398px;}
#search  .ad em{color: #e1261c;margin:0 0 0 5px ;}
#search  .ad span{color:#98999b ;margin:0 3px}

/*主体内容的布局*/



/*主体播放器的布局*/
#content .radio{}
#content .radio p{height: 42px;line-height:42px;width:100%;font-size:18px ;color: #e1261c;}
#content .radio img{margin-bottom:10px;}
#content .radio ul{height:80px; padding-left:80px;background:url(../img/index.img/video_bg.gif) no-repeat  ;background-position:0 -47px  ;}


/*主体热门内容的布局*/
.hot_box{width:346px ;height:100% ;}
#content .hot{margin-top:35px;position: relative;border:solid 1px #e6e2e7;border-radius: 0 0 6px 6px;height: 384px;;}
#content .option{position: absolute;left:-1px ;top: -34px;width:350px ;height: 35px;}
#content .option li{float: left;width: 169px;height: 32px;line-height:32px;text-align: center;border: solid 1px #e6e2e7;border-bottom:none ;border-radius: 6px 6px 0 0;color: #2b2d2d;margin-right:2px ; position: relative; margin-right:4px ;}
#content .option li span{color: #666;margin: 0 2px;font-size:9px ;}
#content .option li a{position: absolute;bottom: 14px;right: 12px;}
#content .option .active{color: #e1261c;background: #ffffff;height:32px;top:1px ;}
#content .option .active a{position: absolute;bottom: 14px;left: 152px;}
#content .hot .tab1{}
#content .hot  .tab1 li{width:316px;display: block;margin-top:14px ;background:url(../img/index.img/hot_list_li_bg.gif) no-repeat ;margin-bottom:6px ;}
#content .hot .tab1 .img{width:104px ;height: 84px;border: 1px solid #e6e2e7;}
#content .hot .tab1 .text{margin-left:20px ;}
#content .hot .tab1 .text h3{height:22px ;line-height: 22px;color: #cb3725;font-size:12px ;}
#content .hot .tab1 .text p{height: 16px;line-height: 16px;color: #707271;}
#content .hot .more{display: block;height: 14px;width: 40px;background:url(../img/index.img/more.gif) no-repeat;position: absolute;right: 14px;bottom: 10px;}
#content .hot .tab2{display:none;}
#content .hot .tab2 li{width:316px;display: block;margin-top:14px ;background:url(../img/index.img/hot_list_li_bg.gif) no-repeat ;margin-bottom:6px ;}
#content .hot .tab2 .img{width:104px ;height: 84px;border: 1px solid #e6e2e7;}
#content .hot .tab2 .text{margin-left:20px ;}
#content .hot .tab2 .text h3{height:22px ;line-height: 22px;color: #cb3725;font-size:12px ;}
#content .hot .tab2 .text p{height: 16px;line-height: 16px;color: #707271;}
#content .hot .more{display: block;height: 14px;width: 40px;background:url(../img/index.img/more.gif) no-repeat;position: absolute;right: 14px;bottom: 10px;}




/*主体日历内容的布局*/
#content .date{height: 498px; width: 348px;margin-bottom:10px ;position: relative;}
#content .date h2{width:348px ;height: 70px;background:url(../img/index.img/new_title_bg.gif)no-repeat 116px 0 ;position: relative;}
#content .date h2 span{font-size:9px ;color: #f32836;position: absolute;left:24px ;top: 22px;}
#content .date h2 em{font-size:24px ;color: #373a36;left:24px ;position: absolute; top: 36px;}
#content .date h2 strong{font-size:28px ;color: #ff3c1f;position: absolute;left: 128px;top: 26px;}
#content .date .box{margin:14px 24px 20px 24px ;}

#content .date .img{width:78px ;height: 78px;border: 3px solid #e1261c;}
#content .date .img img{width: 78px;height: 78px;}
#content .date .text{width:200px ;margin-left:12px ;}
#content .date .text h3{height: 28px;line-height:28px ;color:#373a36;font-size: 12px;}
#content .date .text em{word-break:break-all;height: 18px ;line-height: 18px;color: #98999b;}
#content .date .text span{width:23px ;height: 23px;line-height:23px;border: solid 1px #d1d0ce; border-radius: 3px;display: inline-block;text-align: center;margin-left:2px ;color: #e1261c;background:#fcfcfb ;}
#content .date p{width: 300px;height: 34px;line-height:34px;margin:0 24px 0 24px ;}
#content .date p span{margin:0 9px ;}
#content .date ul{margin:0 20px 0 24px ;}
#content .date ul img{z-index: 3;width:40px ;height: 40px;position: absolute;top: 0;left: 0;}
#content .date ul li {float: left;width:40px ;height: 40px;background: #e6e2e7;line-height:40px ;text-align: center;color: #8a8a8a;font-size: 9px;margin:0 3px 2px 0;position: relative;}
#content .date ul .unnomal {color: #c8c5c5; background:#f8f8f8 ;}
#content .date .floatBox{width: 284px;height: 84px;border: solid 1px #c0c0c0;position:absolute ;left:250px;top:320px;padding:10px ;background: white;display:none ;z-index: 5;}
#content .date .floatBox .img{float: left;width:80px ;height: 80px;border: 2px solid #dbdbdb;}
#content .date .floatBox .img img{width:80px ;height: 80px;}
#content .date .floatBox .text{float: left;width:180px ;height: 80px;margin-left:none ;}
#content .date .floatBox .text h3{color: #333;font-size: 11px;}
#content .date .floatBox .text h3 em{border: none;background:none ;color: #ccc;font-size:14px ;color: #ccc;margin-right:10px ;} 
#content .date .floatBox .text a{color: #999;font-size:11px ;}
#content .date .floatBox  .san{position:relative ;width:0; height:0; overflow:hidden; border-top:8px solid transparent; border-bottom:8px solid transparent;border-right: solid 8px #fff;left: -294px; top: 30px;z-index: 3;}








/*精彩推荐内容的布局*/
#content .advice{height: 498px; width: 348px;margin-bottom:10px ;}
#content .advice h2{width:348px ;height: 70px;background:url(../img/index.img/new_title_bg.gif) no-repeat ; position: relative;background-position:120px -70px ;}
#content .advice h2 span{font-size:9px ;color: #f32836;position: absolute;left:24px ;top: 22px;}
#content .advice h2 em{font-size:24px ;color: #373a36;left:24px ;position: absolute; top: 36px;}
#content .advice .img{width:294px ;margin:0 15px 0 15px ;height: 156px;background:#e6e2e7 ;padding: 12px;border-radius: 3px;}
#content .advice .img ul{width: 222px ;height: 132px;position: relative;border: 1px solid #e6e2e7;}
#content .advice .img ul li{width: 222px ;height: 132px ;position:absolute ;let:0;top: 0;}
#content .advice .img ul li a{}
#content .advice .img ul li img{border: none;width: 222px ;height: 132px;}
#content .advice .img ol{width:54px ;}
#content .advice .img ol li{width:54px ;height: 30px;display: inline-block;border:solid 3px white;margin-bottom:13px ;}
#content .advice .img .active{border:solid 3px #e1261c;}
#content .advice .img ol li a{}
#content .advice .img ol li img{width:54px ;height: 30px;border:none ;}
#content .advice .img p{position: relative;top:-5px;color:#101820;}
#content .advice .list{margin: ;}
#content .advice .list li{height:27px;margin:0 15px 0 15px;color: #dad9d7;}
#content .advice .list li .shop{width:32px ;height:27px;display: inline-block;background:url(../img/index.img/content/recommend_list_ico1.gif) no-repeat 10px 16px;}
#content .advice .list li .book{width:32px ;height:27px;display: inline-block;background:url(../img/index.img/content/recommend_list_ico2.gif) no-repeat 10px 16px;}
#content .advice .list li a{color: #454545;width: 210px;height:27px;line-height: 27px;display: inline-block;margin-left:6px ;}
#content .advice .list li a:hover{text-decoration: underline;}
#content .advice .list li em{color: #dad9d7;width:66px ;display: inline-block;}







/*底部的布局*/
#footer p{text-align: center;margin-top:14px ;height: 40px;line-height: 25px;color: #919191;font-size:50px ;}
#footer p a{color: #454545;margin:0 6px ;}
#footer p a:hover{text-decoration: underline;}







