<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>100度</title>
		<link href="/myTaoBao/Public/css/100.css"  type="text/css" rel="stylesheet" />
		<link href="/myTaoBao/Public/img/index.img/100du.ico" rel="shortcut icon" />
		<script src="/myTaoBao/Public/js/jquery-1.11.1.js"></script>
		<script src="/myTaoBao/Public/js/100.js"></script>
		<!--[if IE 6]>
		<script src="js/DD_belatedPNG_0.0.8a.js"></script>
		<script>
		DD_belatedPNG.fix('*');
		</script>
		<![endif]-->
	</head>
	<body>
		<div id="header" class="gradient">
			<p class="fl">
				<a href="{:U('Home/Login/login')}" class="join">登录</a>
				<a href="{:U('Home/Reg/reg')}" class="manage">注册</a>
			</p>
			<p class="fr">
				<a href="#"class="join">购物车</a>
				<a href="#" class="manage">我的MyTaoBao</a>
			</p>
		</div>
		
		
		<div id="nav">
			<img src="/myTaoBao/Public/img/index.img/logo.png" />
		</div>
		<div id="search"class="gradient radiu">
			<div class="search_b radiu ">
				<div class="note"></div>
				<form>
					<input class="inp" type="text" value="超市的薯片半价啦！"/>
					<input class="btn" type="submit" value=""/>
				</form>
			</div>
			<div class="ad">
				<ul class="scroll">
					<li>
						<em>化妆品专区</em><span>5分钟前</span>
						即日起,购买本商城化妆品满1000即可参...
					</li>
					<li>
						<em>游戏机专区</em><span>1天前</span>
						写了一篇新文章：记忆儿时的游戏时光
					</li>
					<li>
						<em>零食专区</em><span>2天前</span>
						距离吃货月特惠活动结束还有24小时25分...
					</li>
				</ul>
				<a href="javascript:;" class="triangle_up up"></a>
				<a href="javascript:;" class="triangle_down_red down"></a>
			</div>
			
		</div>
		<div id="content_box" class="clear">
			<div id="content" class="fl">
				<div class="clear">
					<div class="fl fl_mod radiu radio">
						<p>BUY<sup>，</sup>WHAT</p>
						<img src="/myTaoBao/Public/img/index.img/play_bg.gif"  />
						<p>new 3DSLL 皮卡丘 日版</p>
					</div>
					
					<div class="hot_box fr">
						<div class="fr fr_mod hot">
							<ul class="option">
								<li class="active">
									<span>HOT SHOP</span>红店铺
									<a href="javascript:;" class="triangle_down_red"></a>
								</li>
								<li class="gradient">
									<span>EW SHOP</span>红店铺
									<a href="javascript:;" class="triangle_down_gray"></a>
								</li>
							</ul>
							<ol class="tab1">
								<li class="clear">
									<div class="img fl"><img src="/myTaoBao/Public/img/index.img/content/hot_list_pic1.gif"/></div>
									<div class="fl text ">
										<h3>御舟和涵珍园国际酒店</h3>
										<p>区域：朝阳/CBD<br />
	                               		        人均：180元<br />
										        人气：12321<br />
										</p>
									</div>
								</li >
								<li class="clear">
									<div class="img fl"><img src="/myTaoBao/Public/img/index.img/content/hot_list_pic1.gif"/></div>
									<div class="fl text ">
										<h3>御舟和涵珍园国际酒店</h3>
										<p>区域：朝阳/CBD<br />
	                               		        人均：180元<br />
										        人气：12321<br />
										</p>
									</div>
								</li>
								<li class="clear">
									<div class="img fl"><img src="/myTaoBao/Public/img/index.img/content/hot_list_pic1.gif"/></div>
									<div class="fl text ">
										<h3>御舟和涵珍园国际酒店</h3>
										<p>区域：朝阳/CBD<br />
	                               		        人均：180元<br />
										        人气：12321<br />
										</p>
									</div>
								</li>
							</ol>
							<ol class="tab2">
								<li class="clear">
									<div class="img fl"><img src="/myTaoBao/Public/img/index.img/content/hot_list_pic2.gif"/></div>
									<div class="fl text ">
										<h3>御舟和涵珍园国际酒店</h3>
										<p>区域：朝阳/CBD<br />
	                               		        人均：180元<br />
										        人气：12321<br />
										</p>
									</div>
								</li >
								<li class="clear">
									<div class="img fl"><img src="/myTaoBao/Public/img/index.img/content/hot_list_pic2.gif"/></div>
									<div class="fl text ">
										<h3>御舟和涵珍园国际酒店</h3>
										<p>区域：朝阳/CBD<br />
	                               		        人均：180元<br />
										        人气：12321<br />
										</p>
									</div>
								</li>
								<li class="clear">
									<div class="img fl"><img src="/myTaoBao/Public/img/index.img/content/hot_list_pic2.gif"/></div>
									<div class="fl text ">
										<h3>御舟和涵珍园国际酒店</h3>
										<p>区域：朝阳/CBD<br />
	                               		        人均：180元<br />
										        人气：12321<br />
										</p>
									</div>
								</li>
							</ol>
							<a href="#" class="more fr"></a>
						</div>
					</div>
					
				</div>
				<div class="ad radiu"><img src="/myTaoBao/Public/img/index.img/ad/ad1.jpg"/></div>

		<div id="fr">
			<p><a href="#">关于我们</a>|<a href="#">联系我们</a>|<a href="">加入我们</a>|<a href="">版权申明</a>|<a href="">问题反馈</a>|<a href="#">友情链接</a>|<a href="">网站地图</a>|<a href="">视频索引</a></p>
		   
			
			
		</div>
		
	</body>
	
</html>
