<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单</title>
    <style>
    #header {
        background-color: red;
        color: white;
        text-align:center;
        padding:5px;
       }
    
    </style>
</head>
<body>
    <div id="header">
    <h1>我的订单</h1>
    </div>
    <div>
       <table  border="1" cellpadding="5" cellspacing="0" style="width:100%;margin:auto">

                    <td>订单号 </td>

                    <td>用户名称</td>

                    <td>商品名称</td>

                    <td>单价</td>

                    <td>数量</td>

                    <td>总金额</td>
                    
                    <td>手机号</td>

                    <td>地址</td>

                    <td>下单时间</td>
                </table>
    </div>
</body>
</html>